<% @favorites.each do |favorite| %>
<ul>
        <li><strong><%= favorite.post.user.name %></strong></li>
        <li><%= image_tag favorite.post.image.url, style:'width:200px'   if favorite.post.image.present? %></li>
        <li><%= favorite.post.title %></li>
       <li><%= favorite.post.content %></li>
    
</ul>
<% end %>